/* Default Margin */
*{
    margin: 0px;
    padding: 0px;
}

/* Custom css Property */
:root{
    --primary-color:rgb(255, 31, 180);
    --secondary-color:rgb(195, 0, 255);
    --title-font-size:45px;
    --description-font-size:18px;
    --small-description:20px;
}
/* body */
body{
    font-family: 'Work Sans', sans-serif;
}

/* Shared Item */

/* Header Section Styles */

/* nav-menu styles */
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 60px;
    padding:40px 200px ;
}
.logo-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
}
.logo-container h1{
    font-size: var(--title-font-size);
}
.logo-container h1 span{
    color: var(--primary-color);
}

/* menus */
.menu-items-container ul{
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-items-container ul li{
    list-style: none;
    text-align: center;
}
.menu-items-container ul li a{
    text-decoration: none;
    font-size: var(--small-description);
    color:#3C354F ;
}
/* follow us styles */
.item-follow{
    width: 262px;
    height: 5%;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px;
    
}


/* Main Section Styles */

/* Banner Section styles */

.banner-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 2px solid red; */
     
}
.banner-text{
    background-repeat: no-repeat;
    width: 70%;
    /* border: 2px solid rgb(0, 17, 255); */
  
}
.banner-image{
    width: 50%;
    /* border: 2px solid rgb(0, 255, 13); */
}
.banner-image img{
   width: 100%;
}
.banner-text{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    
}
.banner-text .banner-title{
    font-size: var(--title-font-size);

}
.banner-text .motto{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
}
.description{
    font-size: var(--small-description);
    margin-bottom: 25px;
}

/* btn styles */
.btn-section{
    display: flex;
    gap: 20px;
    
}
.primary-btn{
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: white;
}
.secondary-btn{
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;
border-radius: 48px;
background: #4EC5F7;
color: white;
}
/* Online games video section */

.video-text{
    text-align: center;
    margin: 20px 0;
}
.video-text h1{
    font-size: 30px;
}
.video-text p{
    font-size: 14px;
}
.video-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-card{
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.card p{
    margin-top: 10px;
    width: 280px;

}
/* .card{
    width: 342px;
    height: 400px;
    
} */




/* play section */
.play-instantly{
    max-width: 1200px;
    height: 100%;
    margin:0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    /* border: 2px solid red; */
}
.image-play{
    position: relative;
    width: 50%;
    /* border: 2px solid rgb(21, 255, 0); */
    
}

.text-play{
    width: 40%;
    height: 100%;
    text-align: end;
    /* border: 2px solid rgb(0, 68, 255); */
    margin-right: 60px;
}
.top-possiton{
    width: 35%;
    position: absolute;
    top: 70%;
    left:-10%;
}
.image-play .down-positon{
    max-width: 600px;
}
.play-color{
    color: var(--primary-color);
}
.text-play h1{
    font-size: 30px;
    margin: 10px 0;
}



/* Subscibed section button */

.subscription-button{
max-width: 1400px;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 100px auto 0;
/* border: 2px solid red; */
}
.subscribe-btn{
display: flex;
align-items: center;
gap: 5px;
width: 280px;
height: 80px;
border-radius: 50px;
border: none;
background: #FFF;
font-size: 18px;
font-weight: 600;
color:#0B0223 ;

}
.subscribe-btn:hover{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

}
.subscribe-btn img{
    margin-left: 15px;
}




/* Footer Section Styles */

.footer-container{
    background-color:#0B0223;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    color: #FFF;
    padding: 120px 0px;
}
.brand-section{
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.important-links a{
    color: #FFF;
    text-decoration: none;
    margin-left: 50px;

}
.important-links{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    /* justify-content: space-evenly;
    margin-left: 15px; */
}
.policy-links a{
    color: #686670;
    text-decoration: none;
    margin-left: 50px;
    line-height:normal;
}
.social-media a{
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}
.social-media{
    margin-bottom: 25px;
}
.copyrigth p{
    text-align: center;
    color: #686670;
    margin-top: 25px;
}


