/* Default Margin */
*{
    margin: 0px;
    padding: 0px;
}

/* Custom css Property */
:root{
    --primary-color:rgb(255, 31, 180);
    --secondary-color:rgb(195, 0, 255);
    --title-font-size:45px;
    --description-font-size:18px;
    --small-description:20px;
}
/* body */
body{
    font-family: 'Work Sans', sans-serif;
}

/* Shared Item */

/* Header Section Styles */

/* nav-menu styles */
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 60px;
    padding:40px 200px ;
}
.logo-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
}
.logo-container h1{
    font-size: var(--title-font-size);
}
.logo-container h1 span{
    color: var(--primary-color);
}

/* menus */
.menu-items-container ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu-items-container ul li{
    list-style: none;
    text-align: center;
}
.menu-items-container ul li a{
    text-decoration: none;
    font-size: var(--small-description);
    color:#3C354F ;
}
/* follow us styles */
.item-follow{
    width: 262px;
    height: 5%;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px;
    
}


/* Main Section Styles */

/* Banner Section styles */

.banner-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    

   
}
.banner{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    width: 70%;
  
}
.banner-image{
    width: 50%;
}
.banner-image img{
   width: 100%;
   height: 80%;
}
.text-container{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 150px;
}
.banner .banner-title{
    font-size: var(--title-font-size);

}
.banner .motto{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
}
.description{
    font-size: var(--small-description);
    margin-bottom: 25px;
}

/* btn styles */
.btn-section{
    display: flex;
    gap: 20px;
}
.primary-btn{
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: white;
}
.secondary-btn{
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;
border-radius: 48px;
background: #4EC5F7;
color: white;
}
/* Online games video section */
.video-text{
    text-align: center;
    font-size: 30px;
   
    margin: 20px 0;
}
.video-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-card{
    display: flex; 
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.card p{
    margin-top: 10px;
    width: 280px;

}
/* .card{
    width: 342px;
    height: 400px;
    
} */




/* play section */
.play-instantly{
    max-width: 1400px;
    height: 100%;
    margin:0 auto ;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}
.image-play{
    position: relative;
    width: 50%;
}

.text-play{
    width: 50%;
    text-align: end;
}
.top-possiton{
    position: absolute;
    top: 58%;
    left:-15%;
}
.image-play .down-positon{
    width: 100%;
}
.play-color{
    color: var(--primary-color);
}
.text-play h1{
    font-size: 30px;
    margin: 10px 0;
}



/* Subscibed section button */

.subscription-button{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
gap: 20px;
margin-top: 200px;
}
.subscribe-btn{
display: flex;
align-items: center;
gap: 5px;
width: 300px;
height: 80px;
border-radius: 50px;
border: none;
background: #FFF;
font-size: 18px;
font-weight: 600;
color:#0B0223 ;

}
.subscribe-btn:hover{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

}
.subscribe-btn img{
    margin-left: 15px;
}




/* Footer Section Styles */

.footer-container{
    background-color:#0B0223;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    color: #FFF;
    padding: 50px 0px;
}
.brand-section{
    display: flex;
    justify-content: center;


}
.important-links a{
    color: #FFF;
    text-decoration: none;
    margin-left: 10px;

}
.policy-links a{
    color: #686670;
    text-decoration: none;
    margin-left: 10px;
}
.social-media a{
    color: #FFF;
    text-decoration: none;
    margin-left: 10px;
}
.copyrigth p{
    color: #686670;
}



/* Responsive Styles by Media Query */
/* Responsive for small and mobile Phones */
@media screen and (max-width:576px) {
    /* nav-menu section */
    .logo-container{
        justify-content: center;
    }
    .nav-menu,
    .menu-items-container ul{
        flex-direction: column;
    }
    .menu-items-container{
        margin-top: 50px;
    }
    .nav-menu{
        box-shadow: none;
        background:none;
    }
    .item-follow{
        margin-top: 50px;
    }
    /* banner section */
  
    .banner-container{
        flex-direction:column-reverse;
        margin-top: 240px;
    }
    .banner{
        width: 100%;
    }
    .banner-image{
        width: 100%;
    }
    /* play section */

    .play-instantly{
        flex-direction: column;
    }
    .image-play{
        width: 100%;
    }
    .text-play{
        width: 100%;
        
    }
    .subscription-button{
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5px;
        }
        .subscribe-btn{
            align-items: center;
            gap: 2px;
            border-radius: 50px;
            border: none;
            background: #FFF;
            font-size: 12px;
            font-weight: 400;
            color:#0B0223 ;
            width: 120px;
            height: 50px;
            }
            .subscribe-btn img{
                width: 20px;
            }
   
    
}

/* Responsive for Medium diveces */
@media screen and (min-width:577px) and (max-width:960px) {
    
}